html
	head
		title= title
	body
		h1= message
		form(method="post")
			fieldset
				legend Recuperação de senha
				p
					label(for="email") E-mail:
						input(type="text", name="email", value=email)
				p
					label(for="new_password") Nova senha:
						input(type="password", name="new_password", value="")
						input(type="hidden", name="reset_id", value=reset_id)
				p.buttons
					input(type="submit", value="Alterar")
